<div class="modal">
    <div class="modal-header">
        <h3 class="section-title">Edit a Frequently Asked Question</h3>
    </div>

    @if (frequentlyAskedQuestion$ | async) {
        <div class="modal-body">
            <form action="" class="form" [formGroup]="formGroup">
                <form-field class="m-2" [formControl]="formGroup.controls.QuestionText" fieldLabel="Question" placeholder="Question" [type]="FormFieldType.Textarea"></form-field>
                <form-field class="m-2" [formControl]="formGroup.controls.AnswerText" fieldLabel="Answer" placeholder="Answer" [type]="FormFieldType.RTE"></form-field>
                <form-field
                    class="m-2"
                    [multiple]="true"
                    [formControl]="formGroup.controls.FaqDisplayLocationTypeIDs"
                    fieldLabel="Display On"
                    [formInputOptions]="FaqDisplayLocationTypesAsSelectDropdownOptions"
                    [type]="FormFieldType.Select">
                </form-field>
            </form>
        </div>
    }

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="save()" [disabled]="formGroup.invalid">Update and Save</button>
        <button class="btn btn-primary-outline" (click)="close()">Cancel</button>
    </div>
</div>
