@use "/src/scss/abstracts" as *;

.card {
    margin-top: $spacing-400;

    .card-header {
        gap: $spacing-300;

        .admin-pill {
            background: linear-gradient(#000000, #2a2a2a);
            color: $white;
            padding: $spacing-200;
            padding-bottom: 4px;
            margin-top: -5px;
            border-radius: $spacing-100;

            text-transform: uppercase;
            font-size: $type-size-100;
            font-weight: 800;
        }
    }

    .card-body {
        gap: $spacing-600;
        align-items: flex-end;

        ::ng-deep a {
            span {
                color: $black;
                text-decoration: underline;
            }

            icon {
                transform: translateY(4px);
                display: inline-block;
                margin-right: $spacing-200;

                span {
                    color: $primary;
                }
            }

            i {
                display: inline-block;
                margin-right: $spacing-200;
                color: $primary;
            }
        }
    }
}
