<div class="full-width-page">
    <div class="page-header centered">
        <h1 class="page-title">
            <span>
                <icon class="page-header-icon" icon="Info"></icon>
                About
            </span>
        </h1>
    </div>

    <section class="about grid-12">
        <div class="sub-header">
            <h4 class="sub-header__title">About the Platform</h4>
        </div>

        <div class="about__photo">
            <img src="../assets/main/images/grower-water-budget-small.png" alt="Groundwater Accounting Platform screenshot" />
        </div>

        <div class="about__copy copy copy-1">
            <p>
                <strong>The Groundwater Accounting Platform</strong> enables water managers, landowners, and water users to track groundwater availability and usage with
                user-friendly dashboards and workflows
            </p>
        </div>
    </section>

    <section class="problem grid-12">
        <div class="sub-header">
            <h4 class="sub-header__title">The Problem</h4>
            <h2 class="section-title">Why is the platform needed?</h2>
        </div>

        <div class="problem__feature">
            <div class="problem__photo">
                <img src="../assets/main/home/drought-sign.jpg" alt="Photo of California farmlands" />
            </div>

            <div class="problem__info">
                <div class="problem__headline">
                    <h3 class="problem__title">California's reliance on groundwater during extreme environmental conditions</h3>
                </div>

                <div class="problem__copy copy copy-3">
                    <p>
                        Water is critical to a vibrant and prosperous California. As the State's water infrastructure ages and climate change strains California's water resources,
                        it is critical that State and local agencies, and communities have the information and tools necessary to manage irregular and unpredictable water supplies.
                    </p>
                </div>
            </div>
        </div>

        <div class="problem__feature">
            <div class="problem__photo">
                <img src="../assets/main/home/drought-water.jpg" alt="Photo of California farmlands" />
            </div>

            <div class="problem__info">
                <div class="problem__headline">
                    <h3 class="problem__title">Overdrafting impacts people, communities, and businesses</h3>
                </div>

                <div class="problem__copy copy copy-3">
                    <p>
                        In the midst of a severe drought, groundwater pumping increased, and wells were dug deeper and deeper. Groundwater overpumping caused wells to dry up and
                        land to sink, leading communities to run out of drinking water and millions of dollars of infrastructure damage.
                    </p>
                </div>
            </div>
        </div>

        <div class="problem__feature">
            <div class="problem__photo">
                <img src="../assets/main/home/drought-lake.jpg" alt="Photo of California farmlands" />
            </div>

            <div class="problem__info">
                <div class="problem__headline">
                    <h3 class="problem__title">Avoiding the worst case scenarios</h3>
                </div>

                <div class="problem__copy copy copy-3">
                    <p>
                        Without sustainable groundwater practices, California is susceptible to irreversible outcomes like land subsidence, seawater intrusion, degraded water
                        quality, and depleted groundwater aquifers.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="solution grid-12">
        <div class="sub-header">
            <h4 class="sub-header__title">The Solution</h4>
            <h2 class="section-title">You can’t manage what you can’t measure</h2>
        </div>

        <div class="solution__feature">
            <div class="solution__photo">
                <img src="../assets/main/home/sgma.jpg" alt="Photo of California farmlands" />
            </div>

            <div class="solution__info">
                <div class="solution__headline">
                    <h3 class="solution__title">
                        <strong>SGMA:</strong>
                        the Sustainable Groundwater Management Act requires local agencies to better understand, track and account for groundwater use across designated basins.
                    </h3>
                </div>

                <div class="solution__copy copy copy-2">
                    <p>
                        In 2014, the California Legislature passed the Sustainable Groundwater Management Act (SGMA) establishing a statewide framework to protect groundwater
                        resources over the long-term. It requires local agencies to form groundwater sustainability agencies (GSAs) in priority basins and to develop and implement
                        groundwater sustainability plans (GSPs) to mitigate undesirable outcomes over the 20 year plan implementation horizon.
                    </p>
                </div>
            </div>
        </div>

        <div class="solution__feature">
            <div class="solution__photo">
                <img src="../assets/main/images/manager-zones-small.png" alt="Groundwater Accounting Platform screenshot" />
            </div>

            <div class="solution__info">
                <div class="solution__headline">
                    <h3 class="solution__title">
                        <strong>The Groundwater Accounting Platform</strong>
                        enables water managers, growers, and water users across California to track water availability and use in near real-time.
                    </h3>
                </div>

                <div class="solution__copy copy copy-2">
                    <p>
                        Climate change and population growth are driving many communities to make tough decisions about water use. It is more important than ever that water
                        managers and agricultural water users have access to the best possible data to guide these decisions and balance supply and demand. To chart a sustainable
                        future for water resources, the open-source Groundwater Accounting Platform was developed to provide an easy to use, cost-effective option for groundwater
                        accounting.
                    </p>
                </div>
            </div>
        </div>

        <div class="solution__feature">
            <div class="solution__photo">
                <img src="../assets/main/home/local-authority.jpg" alt="Photo of California farmlands" />
            </div>

            <div class="solution__info">
                <div class="solution__headline">
                    <h3 class="solution__title">
                        <strong>Tools for Local Authority</strong>
                        are built into the Groundwater Accounting Platform.
                    </h3>
                </div>

                <div class="solution__copy copy copy-2">
                    <p>
                        The Groundwater Accounting Platform integrates information from OpenET and other sources, along with scenario planning functionality, allowing GSAs to plan
                        and prepare under different scenarios. The tool can be used to support local decision-making by providing district managers and landowners with a
                        state-supported accounting tool that communicate water budgets and accounting under SGMA.
                    </p>
                </div>
            </div>
        </div>

        <div class="solution__feature">
            <div class="solution__photo">
                <img src="../assets/main/images/manager-scenario-planner-small.png" alt="Groundwater Accounting Platform screenshot" />
            </div>

            <div class="solution__info">
                <div class="solution__headline">
                    <h3 class="solution__title">
                        <strong>Scenario Planning</strong>
                        is integrated into the Platform using the open-source Groundwater Evaluation Toolbox.
                    </h3>
                </div>

                <div class="solution__copy copy copy-2">
                    <p>
                        The Groundwater Accounting Platform includes scenario planning functionality using the open-source Groundwater Evaluation Toolbox (GET), developed by
                        Olsson. This addition enables users to run model scenarios to assess the impacts of pumping, water trading, recharge, and other potential management
                        scenarios. These scenario runs can support refinement of existing water budgets and the management actions to achieve long-term groundwater sustainability.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
