@if (statesDropdownOptions$ | async; as statesDropdownOptions) {
    @if (waterAccount$ | async; as waterAccount) {
        <div class="modal">
            <div class="modal-header">
                <custom-rich-text [customRichTextTypeID]="customRichTextID" [showLoading]="false" [showInfoIcon]="false"></custom-rich-text>
            </div>
            <div class="modal-body">
                <div class="water-account-number">
                    <h2 class="section-title mb-2">
                        <icon icon="WaterAccounts"></icon>
                        #{{ waterAccount.WaterAccountNumber }}
                        <small class="text-muted">{{ waterAccountName }}</small>
                    </h2>
                </div>
                <form action="" class="form grid-12" [formGroup]="formGroup">
                    <form-field
                        [formControl]="formGroup.controls.WaterAccountName"
                        fieldLabel="Water Account Name"
                        placeholder="Water Account Name"
                        [type]="FormFieldType.Text"></form-field>
                    <form-field [formControl]="formGroup.controls.Notes" fieldLabel="Notes" placeholder="Notes..." [type]="FormFieldType.Textarea"></form-field>
                </form>
            </div>
            <div class="modal-footer sticky-footer">
                <div class="sticky-footer-content">
                    <button class="btn btn-primary mr-2" (click)="save()" [disabled]="!formGroup.valid">Save</button>
                    <button class="btn btn-primary-outline" (click)="close()">Cancel</button>
                </div>
            </div>
        </div>
    }
}
