@if (currentUser$ | async) {
    <div class="page-wrapper">
        <page-header pageTitle="Request Water Account Changes" icon="WaterAccounts" [customRichTextTypeID]="customRichTextTypeID" [templateRight]="templateRight">
            <ng-template #templateRight>
                <div class="page-controls">
                    @if (geographies$ | async) {
                        @if (currentGeography$ | async) {
                            @if (geographies.length > 1) {
                                <div class="field geography">
                                    <div class="field-label">Geography</div>
                                    <ng-select
                                        class="form-control custom small"
                                        [items]="geographies"
                                        bindLabel="GeographyName"
                                        bindValue="GeographyID"
                                        name="selectedGeography"
                                        [(ngModel)]="selectedGeographyID"
                                        (ngModelChange)="onGeographySelected()"></ng-select>
                                </div>
                            }
                        }
                    }
                    @if (waterAccountHolders$ | async; as waterAccountHolders) {
                        <div class="field user">
                            <div class="field-label">View As</div>
                            <ng-select
                                class="form-control custom small"
                                [items]="waterAccountHolders"
                                bindLabel="Label"
                                bindValue="Value"
                                name="selectedUser"
                                [(ngModel)]="selectedUserID"
                                (ngModelChange)="onUserSelected()"></ng-select>
                        </div>
                    }
                </div>
            </ng-template>
        </page-header>
        @if (waterAccounts$ | async) {
            <div class="page-body grid-12" [loadingSpinner]="{ isLoading: isLoading }">
                <app-alert-display></app-alert-display>
                @if (selectedUserID && showForm) {
                    @if (reportingPeriods$ | async) {
                        <note noteType="info" class="reporting-period-note">
                            <icon icon="Info" class="info"></icon>
                            These changes will be applied starting in Reporting Period <b>{{ defaultYear }}</b> onward. If you would like to view historic data please&nbsp;
                            <a routerLink="/geographies/{{ geographyNameLowered }}/support">contact your GSA Water Managers</a>.
                        </note>
                    }
                    <div class="account-changes-form" cdkDropListGroup>
                        <div class="section aside">
                            <div class="section-header">
                                <h3>
                                    <icon icon="Parcels"></icon>
                                    Parcels to Remove
                                </h3>
                            </div>
                            <note noteType="warning">
                                <icon icon="Warning" class="warning"></icon>
                                <b> {{ parcelsToRemove.length }} parcel{{ parcelsToRemove.length === 1 ? "" : "s" }} </b>
                                to be removed
                            </note>
                            <div cdkDropList class="drop-area" [cdkDropListData]="parcelsToRemove">
                                @for (parcel of parcelsToRemove; track parcel) {
                                    <parcel-list-item cdkDrag (cdkDragDropped)="onDrop($event)" [parcel]="parcel" titleText="Restore Parcel" (removed)="restoreParcel(parcel)">
                                        <div cdkDragHandle class="drag-handle">
                                            <i class="fas fa-bars text-muted"></i>
                                        </div>
                                    </parcel-list-item>
                                }
                            </div>
                        </div>
                        <div class="section main">
                            <div class="section-header">
                                <h3>
                                    <icon icon="WaterAccounts"></icon>
                                    My Water Accounts ({{ waterAccounts.length }})
                                </h3>
                                <button
                                    class="btn btn-secondary btn-sm"
                                    (click)="consolidateWaterAccounts()"
                                    [buttonLoading]="isConsolidatingAccounts"
                                    [disabled]="isConsolidatingAccounts || isLoadingSubmit || waterAccounts?.length === 1">
                                    Consolidate Accounts
                                </button>
                            </div>
                            <div class="water-account-cards">
                                @for (waterAccount of waterAccounts; track waterAccount) {
                                    <div class="card">
                                        @if (waterAccountZones[waterAccount.WaterAccountID]) {
                                            @if (waterAccountZones[waterAccount.WaterAccountID].ZoneID > 0) {
                                                <div
                                                    class="zone-display"
                                                    [style.background-color]="waterAccountZones[waterAccount.WaterAccountID].ZoneColor"
                                                    [style.color]="waterAccountZones[waterAccount.WaterAccountID].ZoneAccentColor">
                                                    {{ waterAccountZones[waterAccount.WaterAccountID].ZoneName }}
                                                </div>
                                            } @else {
                                                <div class="zone-display invalid">
                                                    <icon icon="Warning"></icon>
                                                    Warning: Invalid Zone
                                                </div>
                                            }
                                        }
                                        <div class="card-header">
                                            <div class="card-header-wrapper">
                                                <span class="water-account-name">
                                                    <icon icon="WaterAccounts"></icon>
                                                    #{{ waterAccount.WaterAccountNumber }}
                                                </span>
                                                <span class="text-muted">{{ waterAccount.WaterAccountName }}</span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <b>{{ waterAccount.WaterAccountContact?.ContactName }}</b>
                                                <br />
                                                <b>{{ waterAccount.WaterAccountContact?.FullAddress }}</b>
                                                (
                                                <a (click)="openUpdateInfoModal(waterAccount)">Edit</a>
                                                )
                                            </div>
                                            <div cdkDropList [cdkDropListData]="waterAccount.Parcels" class="drop-area">
                                                @for (parcel of waterAccount.Parcels; track parcel) {
                                                    <parcel-list-item cdkDrag (cdkDragDropped)="onDrop($event)" [parcel]="parcel" (removed)="removeParcel(parcel, waterAccount)">
                                                        <div cdkDragHandle class="drag-handle">
                                                            <i class="fas fa-bars text-muted"></i>
                                                        </div>
                                                    </parcel-list-item>
                                                }
                                            </div>
                                            <note noteType="info">
                                                <icon icon="Info" class="info"></icon>
                                                This account has
                                                <b> {{ waterAccount.Parcels.length }} parcel{{ waterAccount.Parcels.length === 1 ? "" : "s" }} </b>
                                                .
                                            </note>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        @if (selectedUserID && showForm) {
            <div class="page-footer">
                <button
                    class="btn btn-primary mr-3"
                    (click)="submitWaterAccountChanges()"
                    [buttonLoading]="isLoadingSubmit"
                    [disabled]="isLoadingSubmit || isConsolidatingAccounts">
                    Submit Request
                </button>
                <button class="btn btn-primary-outline mr-3" (click)="reset()" [disabled]="isLoadingSubmit || isConsolidatingAccounts">Reset</button>
                <button class="btn btn-primary-outline" routerLink=".." [disabled]="isLoadingSubmit || isConsolidatingAccounts">Cancel</button>
            </div>
        }
        <!--MK 6/20 -- The card asked that these look like existing alerts -- I know its a bit weird that I am using the alert classes here instead of pushing alerts but there are two reasons for that."
    1) In the first case I couldn't get the waterAccountsSubject to fire correctly so I couldn't push the alerts to the alert service because it'd pass over the ngIf check on the page div.
    2) In the second case I am not sure you can get the support link into the alert via the alert service.
    "-->
        @if (isWaterAccountViewer) {
            <div class="alert alert-info">
                <div class="alert-content">
                    <i class="fa fa-info"></i>
                    You are not an Account Holder in this geography. Contact an Account Holder with any questions.
                </div>
            </div>
        }
        @if (!(isAdmin || isWaterManager) && isWaterAccountHolder && !selectedGeographyAllowRequests) {
            <div class="alert alert-info">
                <div class="alert-content">
                    <i class="fa fa-info"></i>
                    This geography does not allow self-service account configuration. Please contact your GSA with any questions or to request account changes. &nbsp;
                    <a routerLink="/geographies/{{ geographyNameLowered }}/support"> Request Support </a>
                </div>
            </div>
        }
        @if (noWaterAccountHolders) {
            <div class="no-water-accounts">No water accounts to display</div>
        }
    </div>
}
