@if (geography$ | async; as geography) {
    <page-header icon="Info" [templateTitleAppend]="templateTitleAppend" pageTitle="Geography Overview">
        <ng-template #templateTitleAppend>
            <name-tag [name]="geography.GeographyName" class="mb-2"></name-tag>
        </ng-template>
    </page-header>
}

<div class="page-body grid-12">
    <app-alert-display></app-alert-display>

    <qanat-map class="location-card" (onMapLoad)="handleMapReady($event)" mapHeight="600px">
        @if (mapIsReady) {
            @if (geography$ | async; as geography) {
                <gsa-boundaries
                    [displayOnLoad]="true"
                    [map]="map"
                    [controlTitle]="geography.GeographyDisplayName"
                    [geographyID]="geography.GeographyID"
                    [layerControl]="layerControl"></gsa-boundaries>
            }
            <monitoring-wells-layer [map]="map" [layerControl]="layerControl" [displayOnLoad]="true" [editingMap]="false"></monitoring-wells-layer>
        }
    </qanat-map>

    <div class="copy copy-2">
        @if (geography$ | async; as geography) {
            <custom-rich-text [customRichTextTypeID]="customRichTextTypeID" [geographyID]="geography.GeographyID"></custom-rich-text>
        }
    </div>
</div>
