_ReSharper.Caches
.vs
bin
obj
*.dbmdl
*.jfm
*.env
*.user
Qanat.Web/wwwroot/
Qanat.API/.config
Qanat.API/appsecrets.json
Qanat.GeoServer/data_dir/geoserver-environment.properties
Qanat.GeoServer/data_dir/.updatepassword.lock
Qanat.GeoServer/data_dir/security/*
Qanat.Web/.vscode
Build/secrets.ini
*.bacpac
data/
Qanat.Tests/environment.json
*.tgz
charts/qanat/Chart.lock
super-linter.log
Qanat.EndpointTests/Qanat.EndpointTests/environment.json
/Qanat.GeoServer/data_dir/s3.properties
/Qanat.GeoServer/data_dir/controlflow.properties
Qanat.GeoServer/data_dir/logs/geoserver.log.1
/Qanat.GeoServer/data_dir/gwc-layers
/Qanat.GeoServer/data_dir/logs
/Qanat.Swagger/appsecrets.json
/Qanat.GeoServer/data_dir/gwc


#Community Version Ignores
.gitmodules
Build/**
charts/**
*.tf

Qanat.API/appsettings.json

Qanat.Database/Scripts/ReleaseScripts/*.sql
!Qanat.Database/Scripts/ReleaseScripts/Script.PostDeployment.ReleaseScripts.sql

Qanat.Database/Scripts/PreReleaseScripts/*.sql
!Qanat.Database/Scripts/PreReleaseScripts/Script.PostDeployment.PreReleaseScripts.sql

Qanat.Web/srs/environments/environment.*
!Qanat.Web/srs/environments/environment.template.ts