<div class="modal">
    <div class="modal-header">
        <h2>Update Ownership Info</h2>
    </div>

    <div class="modal-body">
        @if (parcel$ | async; as parcel) {
            <form action="" [formGroup]="formGroup" class="grid-12">
                <form-field [formControl]="formGroup.controls.OwnerName" [required]="true" fieldLabel="Owner Name" [type]="FormFieldType.Text"></form-field>
                <form-field [formControl]="formGroup.controls.OwnerAddress" [required]="true" fieldLabel="Owner Address" [type]="FormFieldType.Text"></form-field>
                <note>
                    Are you sure you want to update ownership info for parcel
                    <strong>{{ parcel.ParcelNumber }}</strong>
                    ?
                </note>
            </form>
        }
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="save()" [class.disabled]="!formGroup.valid && !formGroup.dirty">Update Ownership Info</button>
        <button class="btn btn-primary-outline" (click)="close()">Cancel</button>
    </div>
</div>
