<page-header [customRichTextTypeID]="richTextTypeID" [pageTitle]="isCreating ? 'Add Geospatial Data Layer' : 'Edit Geospatial Data Layer'"></page-header>

@if (geography$ | async; as geography) {
    <div class="page-body grid-12">
        <app-alert-display></app-alert-display>
        @if (externalMapLayer$ | async) {
            <form class="form" [formGroup]="formGroup">
                <div class="grid-12">
                    <form-field
                        class="g-col-6"
                        [formControl]="formGroup.controls.ExternalMapLayerDisplayName"
                        [required]="true"
                        fieldLabel="Layer Name"
                        [fieldDefinitionName]="'ExternalMapLayersName'"
                        [type]="FormFieldType.Text"></form-field>
                    <form-field
                        class="g-col-6"
                        [required]="true"
                        [formControl]="formGroup.controls.ExternalMapLayerTypeID"
                        fieldLabel="Layer Type"
                        [fieldDefinitionName]="'ExternalMapLayersType'"
                        [formInputOptions]="ExternalMapLayerTypesSelectDropdownOptions"
                        [type]="FormFieldType.Select"></form-field>
                    @if (formGroup.controls.ExternalMapLayerTypeID.value === esriFeatureServerID) {
                        <form-field
                            class="g-col-6"
                            [formControl]="formGroup.controls.PopUpField"
                            fieldLabel="PopUp Field"
                            [fieldDefinitionName]="'PopUpField'"
                            [type]="FormFieldType.Text"></form-field>
                        <form-field
                            class="g-col-6"
                            [required]="true"
                            [formControl]="formGroup.controls.MinZoom"
                            fieldLabel="Minimum Zoom"
                            [fieldDefinitionName]="'ExternalMapLayersMinimumZoom'"
                            [type]="FormFieldType.Number"></form-field>
                    }
                    <form-field class="g-col-12" [required]="true" [formControl]="formGroup.controls.ExternalMapLayerURL" fieldLabel="URL" [type]="FormFieldType.Text"></form-field>
                    <form-field class="g-col-12" [formControl]="formGroup.controls.ExternalMapLayerDescription" fieldLabel="Description" [type]="FormFieldType.Text"></form-field>
                    <form-field
                        class="g-col-6"
                        [formControl]="formGroup.controls.LayerIsOnByDefault"
                        fieldLabel="Visible By Default?"
                        [formInputOptions]="layerIsOnByDefaultOptions"
                        [type]="FormFieldType.Radio"></form-field>
                    <form-field
                        class="g-col-6"
                        [formControl]="formGroup.controls.IsActive"
                        fieldLabel="Is Active?"
                        [formInputOptions]="isActiveOptions"
                        [type]="FormFieldType.Radio"></form-field>
                </div>
            </form>
        }
    </div>
    <div class="page-footer">
        <button type="button" class="btn btn-primary mr-2" (click)="onSubmit(geography)" [disabled]="isLoadingSubmit">
            @if (isLoadingSubmit) {
                <span class="fa fa-spinner loading-spinner"></span>
            }
            Save
        </button>
        @if (isCreating) {
            <a routerLink="../" class="btn btn-primary-outline"> Cancel </a>
        } @else {
            <a routerLink="../../" class="btn btn-primary-outline">Cancel</a>
        }
    </div>
}
