<div class="modal">
    <div class="modal-header">
        <h3 class="section-title">Create a Frequently Asked Question</h3>
    </div>

    <div class="modal-body">
        <form action="" class="form grid-12" [formGroup]="formGroup">
            <form-field [formControl]="formGroup.controls.QuestionText" fieldLabel="Question" placeholder="Question" [type]="FormFieldType.Textarea"></form-field>

            <form-field [formControl]="formGroup.controls.AnswerText" fieldLabel="Answer" placeholder="Answer" [type]="FormFieldType.RTE"></form-field>

            <form-field
                [formControl]="formGroup.controls.FaqDisplayLocationTypeIDs"
                [formInputOptions]="faqDisplayLocationTypesFormInputOptions"
                [multiple]="true"
                fieldLabel="Pages to Display On"
                placeholder="Select pages to display this question on"
                [type]="FormFieldType.Select"></form-field>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="save()" [disabled]="formGroup.invalid">Create</button>
        <button class="btn btn-primary-outline" (click)="close()">Cancel</button>
    </div>
</div>
