@use "/src/scss/abstracts" as *;

.license {
    .sub-header {
        @include desktop-medium {
            grid-column: 3 / span 8;
        }
    }
}

.open-source {
    padding-top: $spacing-900;
}

.rich-link {
    display: grid;
    gap: $spacing-400;
    padding: $spacing-600;
    border: 1px solid rgba($black, 0.1);
    border-radius: $spacing-200;
    height: 100%;

    icon {
        color: $primary;

        ::ng-deep {
            svg {
                width: $spacing-400;
                height: $spacing-400;
            }
        }
    }

    &-header {
        display: grid;
        gap: $spacing-200;
    }

    &-body {
        color: $gray-900;

        strong {
            color: $gray-1000;
        }
    }
}
