<div class="allocation-plan-table scroll-shadow-x">
    <allocation-plan-table-header [years]="years"></allocation-plan-table-header>
    @for (period of allocationPlan.AllocationPlanPeriods; track period) {
        <allocation-plan-period
            [years]="years"
            [allocationPlanManageDto]="allocationPlan"
            [allocationPlanPeriod]="period"
            [readonly]="readonly"
            (change)="onChange($event)"
            (delete)="onDelete($event)"></allocation-plan-period>
    }
</div>
