<div class="modal">
    <div class="modal-header">
        <h3>Merge Water Accounts</h3>
    </div>

    <div class="modal-body grid-12" #modalBody>
        <note noteType="info">
            <div class="note-content">
                <icon icon="Info" class="info"></icon>
                <p>
                    Select a primary account that will persist after the merge. Select a secondary account whose parcels will be absorbed by the primary account. After the merge
                    the secondary account will be deactivated and all of its metadata will be removed.
                </p>
            </div>
        </note>
        <form action="" class="form" [formGroup]="formGroup">
            <div class="form-step">
                <div class="form-step-label">
                    <span class="form-step-number">1</span>
                    Select Merge Type
                </div>
                <div class="form-step-content">
                    <div class="merge-type-button-area">
                        <div>
                            <label class="required field-label" for="deleteMerge">Merge Type</label>
                            <div class="flex-start">
                                <btn-group-radio-input
                                    [required]="true"
                                    formControlName="deleteMerge"
                                    id="deleteMerge"
                                    [options]="[
                                        { label: 'Delete Merge', value: true, red: true },
                                        { label: 'Preserve Merge', value: false },
                                    ]">
                                </btn-group-radio-input>
                            </div>
                        </div>
                        @if (formGroup.controls.deleteMerge.value === false) {
                            @if (reportingPeriodSelectOptions$ | async; as dropdownOptions) {
                                <div class="reporting-period-selector">
                                    <form-field
                                        [formControl]="formGroup.controls.reportingPeriodID"
                                        fieldLabel="Reporting Period"
                                        [type]="FormFieldType.Select"
                                        [formInputOptions]="dropdownOptions"
                                        required></form-field>
                                </div>
                            }
                        }
                    </div>
                    <div class="merge-type-note">
                        @if (formGroup.controls.deleteMerge.value === false) {
                            <note>
                                <div class="note-content">
                                    <icon icon="Warning" class="warning"></icon>
                                    <p>Inactivates the Secondary Water Account and transfers all Parcels to the Primary Water Account.</p>
                                </div>
                            </note>
                        } @else if (formGroup.controls.deleteMerge.value === true) {
                            <note>
                                <div class="note-content">
                                    <icon icon="Warning" class="warning"></icon>
                                    <p>
                                        Deletes the Secondary Water Account completely. Any previous water account history for parcels will be transfered to the Water Account that
                                        it is being merged into.
                                    </p>
                                </div>
                            </note>
                        }
                    </div>
                </div>
            </div>
            <div class="form-step-divider"></div>
            <div class="form-step">
                <div class="form-step-label">
                    <span class="form-step-number">2</span>
                    Select Water Accounts
                </div>
                <div class="form-step-content select-water-accounts">
                    <div class="primary-water-account water-account">
                        <div>
                            <form-field
                                fieldLabel="Primary Water Account (Will Remain)"
                                [formControl]="formGroup.controls.primaryWaterAccountID"
                                [geographyID]="geographyID"
                                [type]="FormFieldType.WaterAccountSearch"
                                class="custom"></form-field>
                        </div>
                        @if (primaryWaterAccount$ | async) {
                            @if (primaryWaterAccount?.WaterAccountID) {
                                <div class="parcel-preview">
                                    <div class="parcel-preview-header">
                                        <icon icon="Parcels"></icon>
                                        Parcels ({{ primaryWaterAccount?.Parcels?.length + (secondaryWaterAccount?.Parcels?.length ?? 0) }})
                                    </div>
                                    <div class="parcel-preview-list grid-12">
                                        @for (parcel of primaryWaterAccount?.Parcels; track parcel) {
                                            <div class="g-col-4">{{ parcel.ParcelNumber }}</div>
                                        }
                                        @if (secondaryWaterAccount$ | async) {
                                            @for (parcel of secondaryWaterAccount?.Parcels; track parcel) {
                                                <div class="g-col-4 added">{{ parcel.ParcelNumber }}</div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="swap-accounts">
                        <button
                            class="btn btn-primary"
                            [disabled]="!formGroup.controls.primaryWaterAccountID || !formGroup.controls.secondaryWaterAccountID"
                            (click)="swapAccounts()">
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                    </div>
                    <div class="secondary-water-account water-account">
                        <div class="field">
                            <form-field
                                fieldLabel="Secondary Water Account (Will Be {{ formGroup.controls.deleteMerge.value === false ? 'Deactivated' : 'Removed' }})"
                                [formControl]="formGroup.controls.secondaryWaterAccountID"
                                [geographyID]="geographyID"
                                [type]="FormFieldType.WaterAccountSearch"
                                class="custom"></form-field>
                        </div>
                        @if (secondaryWaterAccount$ | async) {
                            @if (secondaryWaterAccount?.WaterAccountID) {
                                <div class="select-water-accounts parcel-preview">
                                    <div class="parcel-preview-header">
                                        <icon icon="Parcels"></icon>
                                        Parcels (0)
                                    </div>
                                    <div class="parcel-preview-list grid-12">
                                        @for (parcel of secondaryWaterAccount?.Parcels; track parcel) {
                                            <div class="g-col-4 removed">{{ parcel.ParcelNumber }}</div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="save()" [disabled]="!formGroup.valid || isLoadingSubmit">Merge Accounts & Save</button>
        <button class="btn btn-primary-outline" (click)="close()">Cancel</button>
    </div>
</div>
