@use "/src/scss/abstracts" as *;

form-field::ng-deep .field-label,
label {
    font-size: 12px;
}

.note-content {
    display: flex;
    justify-content: flex-start;
    gap: $spacing-200;
    font-size: 14px;
    line-height: 22px;

    icon {
        &.info::ng-deep svg path {
            color: $blue-700;
        }
        &.warning::ng-deep svg path {
            color: $yellow-darker;
        }
    }
}

.form-step {
    display: grid;
    align-items: flex-start;
    gap: $spacing-400;

    @include desktop-medium {
        grid-template-columns: 1fr 5fr;
    }

    &-label {
        display: flex;
        gap: $spacing-200;
        font-size: $type-size-200;
        font-weight: 800;
        align-items: flex-start;
        line-height: 28px;
        margin: 0;
    }

    &-number {
        height: 24px;
        width: 24px;
        color: $white;
        background-color: $blue-700;
        border-radius: 12px;
        text-align: center;
        vertical-align: middle;
        margin: 0;
        transform: translateY(-2px);
    }

    &-content {
        display: grid;
        gap: $spacing-400;
        margin-left: $spacing-600;

        @include desktop-medium {
            margin: 0;
        }
    }

    &-divider {
        border-bottom: 1px solid $gray-200;
        margin-top: $spacing-400;
        margin-bottom: $spacing-500;
    }
}

.select-water-accounts {
    grid-template-columns: 1fr auto 1fr;

    .water-account {
        min-width: 0; // prevents grid columns from growing to fit wide content
    }

    .swap-accounts {
        height: 3rem;
        margin-top: 1.5rem;
    }

    .parcel-preview {
        background-color: $gray-50;
        border: 1px solid $gray-200;
        border-radius: $spacing-200;
        padding: $spacing-400;
        margin-top: $spacing-300;

        &-header {
            display: flex;
            gap: $spacing-200;
            align-items: center;
            font-weight: 600;
            border-bottom: 1px solid $gray-200;
            padding-bottom: $spacing-200;

            icon::ng-deep svg path {
                color: $blue-700;
            }
        }

        &-list {
            gap: $spacing-300;
            padding-top: $spacing-400;
            font-size: 14px;

            .added {
                color: $green-dark;
            }

            .removed {
                color: $red-500;
                text-decoration: line-through;
            }
        }
    }
}

.merge-type-button-area {
    display: flex;
    justify-content: flex-start;
    gap: $spacing-200;
}

.merge-type-note {
    display: block;
}

.reporting-period-selector {
    width: 230px;
}
