@if (currentUser$ | async) {
    @if (geography$ | async; as geography) {
        <water-dashboard-nav [geography]="geography"></water-dashboard-nav>
        @if (currentUser$ | async) {
            <div class="full-width-page">
                <page-header [customRichTextTypeID]="richTextID" icon="Wells" [templateBottomRight]="templateBottomRight" preTitle="Water Dashboard"></page-header>
                <ng-template #templateBottomRight>
                    <button
                        [routerLink]="['/well-registry', geography?.GeographyName.toLowerCase(), 'new']"
                        class="btn btn-orange"
                        [disabled]="!geography || !geography.GeographyConfiguration.WellRegistryEnabled"
                        preTitle="Water Dashboard">
                        Register a Well
                    </button>
                </ng-template>
                @if (currentUserGeographies$ | async; as currentUserGeographies) {
                    <div class="page-body" [loadingSpinner]="{ isLoading: isLoading && firstLoad, loadingHeight: 700 }">
                        <app-alert-display></app-alert-display>
                        @if (!currentUserHasNoGeographies) {
                            @if (wells$ | async; as wells) {
                                <hybrid-map-grid
                                    [rowData]="wells"
                                    [columnDefs]="columnDefs$ | async"
                                    downloadFileName="wells"
                                    entityIDField="WellID"
                                    (gridReady)="onGridReady($event)"
                                    (onMapLoad)="handleMapReady($event)"
                                    [selectedValue]="selectedWellID"
                                    (selectedValueChange)="onGridSelectionChanged()">
                                    <div headerActions>
                                        <div class="navigation-selector-container">
                                            @if (currentUserGeographies.length > 1) {
                                                <div class="form-field navigation-selector">
                                                    <div class="field">
                                                        <ng-select
                                                            name="Geography"
                                                            [(ngModel)]="currentGeography"
                                                            (ngModelChange)="onGeographySelected($event)"
                                                            [compareWith]="compareGeography"
                                                            [items]="currentUserGeographies"
                                                            [clearable]="false"
                                                            [searchable]="false"
                                                            bindLabel="GeographyName"
                                                            class="custom small">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    @if (mapIsReady) {
                                        <div [loadingSpinner]="{ isLoading: layerLoading, opacity: 0.33 }">
                                            <wells-layer
                                                [wells]="wells"
                                                [displayOnLoad]="true"
                                                [map]="map"
                                                (popupOpened)="onMapSelectionChanged($event)"
                                                [layerControl]="layerControl"
                                                [highlightedWellID]="selectedWellID"></wells-layer>
                                            @if (parcelIDs$ | async; as parcelIDs) {
                                                <parcel-layer
                                                    [geographyID]="geography.GeographyID"
                                                    [map]="map"
                                                    [layerControl]="layerControl"
                                                    [displayOnLoad]="true"
                                                    [parcelIDs]="currentUserHasOverallPermission ? null : parcelIDs"
                                                    (layerStartedLoading)="onLayerLoadStarted()"
                                                    (layerFinishedLoading)="onLayerLoadFinished()"></parcel-layer>
                                            }
                                            @for (zoneGroup of zoneGroups$ | async; track zoneGroup) {
                                                <zone-group-layer
                                                    [displayOnLoad]="false"
                                                    [zoneGroupID]="zoneGroup.ZoneGroupID"
                                                    [zoneGroupName]="zoneGroup.ZoneGroupName"
                                                    [map]="map"
                                                    [layerControl]="layerControl">
                                                </zone-group-layer>
                                            }
                                            <gsa-boundaries [displayOnLoad]="false" [map]="map" [geographyID]="geography.GeographyID" [layerControl]="layerControl">
                                            </gsa-boundaries>
                                            @for (externalMapLayer of externalMapLayers$ | async; track externalMapLayer) {
                                                <geography-external-map-layer [map]="map" [layerControl]="layerControl" [externalMapLayer]="externalMapLayer">
                                                </geography-external-map-layer>
                                            }
                                        </div>
                                    }
                                </hybrid-map-grid>
                            }
                        } @else {
                            <div class="alert alert-info">
                                <div class="alert-content">
                                    <i class="fa fa-info"></i>
                                    Your user profile does not currently have access to any Wells. Claim Water Accounts to get started or contact a water manager for your geography
                                    for assistance.
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    }
}
