<div class="form-group">
    <div class="field">
        @if (searchResults$ | async; as searchResults) {
            <ng-select
                [items]="(searchResults$ | async)?.SearchResults"
                bindLabel="ContactName"
                typeToSearchText="APN, Owner Name, Owner Address"
                [minTermLength]="1"
                [typeahead]="searchString"
                [ngModel]="val"
                (change)="onSelectionChange($event)"
                (clear)="onClear()"
                placeholder="APN, Owner Name, Owner Address"
                class="custom water-account-contact-search">
                <ng-template ng-header-tmp>
                    @if (searchResults?.TotalResults > 10) {
                        <div class="refine-search p-2">Displaying {{ searchResults.SearchResults.length }} of {{ searchResults?.TotalResults }} results</div>
                    }
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <div
                        [id]="'WaterAccountContact_' + item.WaterAccountContact.WaterAccountContactID"
                        [class.highlighted-search-result]="item == highlightedSearchResult"
                        class="search-item">
                        <div class="button-head">
                            <icon icon="Contact"></icon>
                            <strong class="wac-name" [innerHTML]="item.WaterAccountContact.ContactName" [highlight]="search"></strong>
                        </div>
                        @if (search?.length > 0) {
                            @if (item.MatchedFields.ContactName) {
                                <div class="button-metadata">
                                    <small class="wac-contact-name wac-meta">
                                        <strong>Contact Name: </strong>
                                        <span [highlight]="search" [innerHTML]="item.WaterAccountContact.ContactName"></span>
                                    </small>
                                </div>
                            }
                            @if (item.MatchedFields.Email) {
                                <div class="button-metadata">
                                    <small class="wac-email wa-meta">
                                        <strong>Email: </strong>
                                        <span [highlight]="search" [innerHTML]="item.WaterAccountContact.ContactEmail"></span>
                                    </small>
                                </div>
                            }
                            @if (item.MatchedFields.PhoneNumber) {
                                <div class="button-metadata">
                                    <small class="wac-phone wa-meta">
                                        <strong>Phone Number: </strong>
                                        <span [highlight]="search" [innerHTML]="item.WaterAccountContact.ContactPhoneNumber"></span>
                                    </small>
                                </div>
                            }
                            @if (item.MatchedFields.FullAddress) {
                                <div class="button-metadata">
                                    <small class="wac-address wa-meta">
                                        <strong>Address: </strong>
                                        <span [highlight]="search" [innerHTML]="item.WaterAccountContact.FullAddress"></span>
                                    </small>
                                </div>
                            }
                        }
                    </div>
                </ng-template>
            </ng-select>
        }
    </div>
</div>
