@use "/src/scss/abstracts" as *;

.location-card.crosshair {
    cursor: crosshair;
}

.model-information {
    padding: $spacing-600;
    background: $gray-lighter;
    border: 1px solid $gray-light;
}
