@if (geographyID) {
    @switch (geographyID) {
        @case (1) {
            <img src="assets/main/logos/MIUGSA-logo.png" alt="MIUGSA Logo" />
        }
        @case (2) {
            <img src="assets/main/logos/pajaro-logo.jfif" alt="Pajaro Logo" />
        }
        @case (3) {
            <img src="assets/main/logos/rrb-logo.jfif" alt="RRB Logo" />
        }
        @case (4) {
            <img src="assets/main/logos/yolo-logo.jfif" alt="Yolo Logo" />
        }
        @case (5) {
            <img src="assets/main/logos/gap-logo-blue.jpg" alt="Demo Geography Logo" />
        }
        @case (6) {
            <img src="assets/main/logos/MSGSA-logo.png" alt="MSGSA Logo" />
        }
        @case (7) {
            <img src="assets/main/logos/east-turlock-logo.png" alt="ETSGSA Logo" />
        }
        @case (8) {
            <img src="assets/main/logos/sc-ny-wg.png" alt="SCNY Logo" />
        }
        @case (8) {
            <img src="assets/main/logos/gap-logo-blue.jpg" alt="Groundwater Accounting Platform" />
        }
        @case (10) {
            <img src="assets/main/logos/gmd-logo2@2x.png" alt="GMD3 Logo" />
        }
        @default {
            <img src="assets/main/logos/gap-logo-blue.jpg" alt="Groundwater Accounting Platform" />
        }
    }
} @else {
    <img src="assets/main/logos/gap-logo-blue.jpg" alt="Groundwater Accounting Platform" />
}
