@if (zoneGroup) {
    <div class="card">
        <div class="card-body map-legend">
            <div class="legend-label mb-3">Map Legend</div>
            @for (zone of zoneGroup.ZoneList; track zone) {
                <div class="legend-item mb-2">
                    <div class="legend-color" [style.background-color]="zone.ZoneColor"></div>
                    <p class="copy copy-4">
                        {{ zone.ZoneName }}
                    </p>
                </div>
            }
        </div>
    </div>
}
