@use "/src/scss/abstracts" as *;

.map-legend {
    border: 4px double #ddd;
    border-radius: 2px;

    .legend-label {
        font-size: $type-size-150;
        font-weight: bold;
    }

    .legend-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .legend-color {
            height: 10px;
            width: 10px;
            margin-bottom: 3px;
            margin-right: 8px;
        }
    }
}
