<div [loadingSpinner]="{ isLoading, loadingHeight: 500 }">
    @if (model$ | async; as model) {
        <page-header icon="Model" [pageTitle]="model.ModelName" [templateRight]="templateRight" [customRichTextTypeID]="customRichTextID">
            <div class="copy copy-2 copy-user-entered"></div>
            <ng-template #templateRight>
                <div class="pb-4">
                    <a class="btn btn-secondary-outline btn-rounded" href="{{ getDashboardUrl }}"> View in GET </a>
                </div>
            </ng-template>
        </page-header>
        <div class="page-body">
            <scenario-actions-hero></scenario-actions-hero>
            @if (allModelRuns$ | async; as allModelRuns) {
                <div class="latest-runs">
                    <h2 class="section-title primary">Latest Scenario Runs</h2>
                    @if (latestModelRuns.length > 0) {
                        <div class="grid-12">
                            @for (latestModelRun of latestModelRuns; track latestModelRun) {
                                <model-run-card [scenarioRun]="latestModelRun">
                                    {{ latestModelRun.RunName }}
                                </model-run-card>
                            }
                        </div>
                    } @else {
                        <div class="no-runs copy copy-2">
                            <p>
                                <em> There are no Scenario runs. Use the buttons above to create a Scenario run. </em>
                            </p>
                        </div>
                    }
                </div>
                <div class="all-runs">
                    <qanat-grid [rowData]="allModelRuns" [columnDefs]="columnDefs" [sizeColumnsToFitGrid]="true" downloadFileName="scenario-runs"></qanat-grid>
                </div>
            }
        </div>
    }
</div>
