<page-header icon="Allocations" [customRichTextTypeID]="customRichTextID"></page-header>

@if (geography$ | async; as geography) {
    <div class="page-body">
        <app-alert-display></app-alert-display>
        @if (allocationPlans$ | async; as allocationPlans) {
            <allocation-plan-select
                [geographyID]="geography.GeographyID"
                [allocationPlans]="allocationPlans"
                [zoneGroupName]="allocationPlans[0]?.ZoneGroupName"></allocation-plan-select>
        }
    </div>
}
