<ul class="sidebar-nav">
  @for (item of dashboardMenu.menuItems; track item) {
    @if (!item.isDisabled) {
      <li
        class="sidebar-item"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="item.routerLinkActiveOptions ?? { exact: viewingDetailPage }">
        @if (!item.isDropdown) {
          <a
            [routerLink]="item.routerLink"
            [queryParams]="item.queryParams"
            class="sidebar-link flex-between"
            [class]="item.cssClasses"
            [class.active]="rla.isActive"
            [fragment]="item.fragment">
            <icon [icon]="item.icon"></icon>
            <span class="sidebar-link__label">{{ item.title }}</span>
          </a>
        } @else {
          @if (!item.hidden) {
            <button
              (click)="item.preventCollapse ? null : toggleDropdown(item)"
              class="sidebar-dropdown-button flex-between"
              [class.active]="rla.isActive"
              [title]="item.isExpanded ? 'Click to Collapse ' + item.title + ' Menu' : 'Click to Expand ' + item.title + ' Menu'">
              <span class="flex button-left">
                <icon [icon]="item.icon"></icon>
                <span class="button-title">{{ item.title }}</span>
              </span>
              <span class="caret">
                @if (!item.preventCollapse) {
                  <icon [icon]="item.isExpanded ? 'AngleUp' : 'AngleDown'"></icon>
                }
              </span>
            </button>
          }
          <ul [@slideState]="item.isExpanded ? 'expanded' : 'collapsed'" class="dropdown-overflow dropdown-list">
            @for (subItem of item.menuItems; track subItem) {
              @if (subItem.withGeographyFlag) {
                <ng-container *withGeographyFlag="subItem.withGeographyFlag">
                  <ng-container *ngTemplateOutlet="dashboardMenuListItem"></ng-container>
                </ng-container>
              } @else {
                @if (!subItem.isDisabled) {
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="subItem.routerLinkActiveOptions ? subItem.routerLinkActiveOptions : defaultSubItemRouterLinkActiveOptions"
                      [routerLink]="subItem.routerLink"
                      [queryParams]="subItem.queryParams"
                      [fragment]="subItem.fragment"
                      class="sidebar-sub-link"
                      [class]="subItem.cssClasses">
                      <span class="flex">
                        <icon [icon]="subItem.icon"></icon>
                        {{ subItem.title }}
                      </span>
                    </a>
                  </li>
                }
              }
              <ng-template #dashboardMenuListItem>
                @if (!subItem.isDisabled) {
                  <li>
                    <a
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="subItem.routerLinkActiveOptions ? subItem.routerLinkActiveOptions : defaultSubItemRouterLinkActiveOptions"
                      [routerLink]="subItem.routerLink"
                      [queryParams]="subItem.queryParams"
                      [fragment]="subItem.fragment"
                      class="sidebar-sub-link"
                      [class]="subItem.cssClasses">
                      <span class="flex">
                        <icon [icon]="subItem.icon"></icon>
                        {{ subItem.title }}
                      </span>
                    </a>
                  </li>
                }
              </ng-template>
            }
          </ul>
        }
      </li>
    }
  }
</ul>
