@use "../../../../scss/abstracts/" as *;

.button-group {
    padding: 0;
    overflow: hidden;

    &__item {
        border: none;
        border-radius: 0;
    }
}

.geography-selector {
    width: 17rem;
    text-align: right;

    .field select {
        height: 2rem;
        width: 12rem;
        font-size: $type-size-200;
    }
}

.tab-nav-panel.hidden {
    display: none;
}
