<div class="grid-12">
    <app-alert-display></app-alert-display>
</div>

@if (currentUser$ | async) {
    @if (waterAccount$ | async) {
        <div>
            <page-header
                [pageTitle]="'#' + waterAccount.WaterAccountNumber"
                [templateTitleAppend]="templateTitleAppend"
                [templateRight]="templateRight"
                icon="WaterAccounts"
                preTitle="Users & Settings">
                <ng-template #templateTitleAppend>
                    @if (waterAccount.WaterAccountName?.length > 0 && waterAccount.WaterAccountName != waterAccount.WaterAccountNumber.toString()) {
                        <span class="water-account-name" title="{{ waterAccount.WaterAccountName }}">
                            {{ waterAccount.WaterAccountName }}
                        </span>
                    }
                    @if (allocationPlans$ | async; as allocationPlans) {
                        @if (allocationPlans?.length > 0) {
                            <name-tag
                                [name]="allocationPlans[0].ZoneName"
                                [color]="allocationPlans[0].ZoneColor"
                                [routerLink]="[
                                    '/geographies',
                                    waterAccount.Geography.GeographyName.toLowerCase(),
                                    'allocation-plans',
                                    allocationPlans[0].WaterTypeSlug,
                                    allocationPlans[0].ZoneSlug,
                                ]"
                                class="zone-tag"
                                title="Allocation Plan Zone">
                            </name-tag>
                        }
                    }
                </ng-template>
                <ng-template #templateRight>
                    <button routerLink="/water-accounts/request-changes" class="btn btn-primary-outline">Request Water Account Changes</button>
                </ng-template>
            </page-header>
            <div class="page-body grid-12">
                <div class="card">
                    <div class="card-header flex-between">
                        <h3 class="card-title">Contact Info</h3>
                        @if (!isCurrentUserGeographyManager) {
                            <a [routerLink]="['/request-support']" style="text-decoration: underline">Request Support</a>
                        }
                    </div>
                    <div class="card-body grid-12">
                        <key-value-pair-list class="g-col-6">
                            <key-value-pair>
                                <ng-container key>Water Account Name</ng-container>
                                <ng-container keyValue>
                                    <div>{{ waterAccount?.WaterAccountName }}</div>
                                    @if (!waterAccount?.WaterAccountName) {
                                        <em class="text-muted"> Not Available </em>
                                    }
                                </ng-container>
                            </key-value-pair>
                            <key-value-pair>
                                <ng-container key>Contact Name</ng-container>
                                <ng-container keyValue>
                                    @if (waterAccount?.WaterAccountContact?.ContactName && isCurrentUserGeographyManager) {
                                        <a routerLink="/contacts/{{ waterAccount?.WaterAccountContact?.WaterAccountContactID }}">{{
                                            waterAccount?.WaterAccountContact?.ContactName
                                        }}</a>
                                    } @else if (waterAccount?.WaterAccountContact?.ContactName) {
                                        <div>{{ waterAccount?.WaterAccountContact?.ContactName }}</div>
                                    } @else {
                                        <em class="text-muted">Not Available</em>
                                    }
                                </ng-container>
                            </key-value-pair>
                            <key-value-pair>
                                <ng-container key>Email</ng-container>
                                <ng-container keyValue>
                                    <div [class.text-muted]="!waterAccount?.WaterAccountContact?.ContactEmail">
                                        {{ waterAccount?.WaterAccountContact?.ContactEmail ?? "Not Available" }}
                                    </div>
                                </ng-container>
                            </key-value-pair>
                            <key-value-pair>
                                <ng-container key>Phone Number</ng-container>
                                <ng-container keyValue>
                                    <div [class.text-muted]="!waterAccount?.WaterAccountContact?.ContactPhoneNumber">
                                        {{ (waterAccount?.WaterAccountContact?.ContactPhoneNumber | phone) ?? "Not Available" }}
                                    </div>
                                </ng-container>
                            </key-value-pair>
                        </key-value-pair-list>
                        <key-value-pair-list class="g-col-6">
                            <key-value-pair>
                                <ng-container key>Notes</ng-container>
                                <ng-container keyValue>
                                    <div [class.text-muted]="!waterAccount?.Notes">{{ waterAccount?.Notes ?? "Not Available" }}</div>
                                </ng-container>
                            </key-value-pair>
                            <key-value-pair>
                                <ng-container key>Contact Address</ng-container>
                                <ng-container keyValue>
                                    @if (waterAccount.WaterAccountContact?.City && waterAccount.WaterAccountContact?.State && waterAccount.WaterAccountContact?.ZipCode) {
                                        <div class="address">
                                            <div>{{ waterAccount.WaterAccountContact.Address }}</div>
                                            <div>{{ waterAccount.WaterAccountContact.SecondaryAddress }}</div>
                                            <div>
                                                {{ waterAccount.WaterAccountContact.City }}, {{ waterAccount.WaterAccountContact.State }}
                                                {{ waterAccount.WaterAccountContact.ZipCode }}
                                            </div>
                                        </div>
                                    } @else if (waterAccount.WaterAccountContact?.FullAddress) {
                                        <div>{{ waterAccount.WaterAccountContact.FullAddress }}</div>
                                    } @else {
                                        <div class="text-muted">Not Available</div>
                                    }
                                </ng-container>
                            </key-value-pair>
                            <key-value-pair>
                                <ng-container key>Communication Preference</ng-container>
                                <ng-container keyValue>
                                    <div>{{ waterAccount?.WaterAccountContact?.PrefersPhysicalCommunication ? "Physical Mail" : "Email" }}</div>
                                </ng-container>
                            </key-value-pair>
                        </key-value-pair-list>
                    </div>
                    @if (isCurrentUserAnAccountHolder || isCurrentUserGeographyManager) {
                        <div class="card-footer">
                            <div>
                                <icon icon="Info"></icon>
                                <a (click)="updateInfoModal(waterAccount.WaterAccountID)">
                                    <!--MK 7/11 - Span is needed here so we don't get an underlined space. Current prettier config does not respect html whitespace.-->
                                    <span>Update Info</span>
                                </a>
                            </div>
                            <div>
                                <icon icon="Contact"></icon>
                                <a (click)="updateAssociatedContactModal(waterAccount)">
                                    <span>Update Contact</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                @if (waterAccountUsers$ | async; as waterAccountUsers) {
                    <div class="card g-col-12">
                        <div class="card-header flex-between">
                            <h3 class="card-title">Users</h3>
                            @if (isCurrentUserAnAccountHolder || isCurrentUserGeographyManager) {
                                <button class="btn btn-secondary" (click)="inviteUserToWaterAccountModal(waterAccount)">+ Add User</button>
                            }
                        </div>
                        <div class="card-body">
                            <div class="copy copy-2 pb-4">
                                <p>
                                    Invite users to be added to your water account. Enter their email address, set their role-level, and send them an email with an invite link to
                                    easily join this Water Account. Users can be added as either:
                                </p>
                                <ul>
                                    <li>
                                        <strong>Account Holder</strong>
                                        : Full permissions to all features and functionality in the Groundwater Accounting Platform, including the ability to modify data and manage
                                        Water Accounts (and its users).
                                    </li>
                                    <li>
                                        <strong>Viewer</strong>
                                        : Read-only access only to Water Account data.
                                    </li>
                                </ul>
                            </div>
                            @for (user of waterAccountUsers; track user) {
                                <div class="card g-col-12 user-card">
                                    <div
                                        class="card-header grid-12"
                                        [ngClass]="{
                                            'account-holder': user.IsAccountHolder,
                                        }">
                                        <div class="g-col-5 user-icon-name-email">
                                            <div>
                                                <icon icon="User"></icon>
                                            </div>
                                            <div class="user-name-email">
                                                @if (user.User.RoleID != RoleEnum.PendingLogin) {
                                                    <h3>
                                                        {{ user.User.FullName }}
                                                    </h3>
                                                    {{ user.User.Email }}
                                                } @else {
                                                    <div class="pending-invite">
                                                        {{ user.User.Email }}
                                                    </div>
                                                }
                                                <ng-template #pending>
                                                    <div class="pending-invite">
                                                        {{ user.User.Email }}
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="g-col-5">
                                            {{ user.WaterAccountRole.WaterAccountRoleDisplayName }}
                                        </div>
                                        <div class="g-col-2 date-column">
                                            @if (user.User.RoleID != RoleEnum.PendingLogin) {
                                                Date Added: {{ user.ClaimDate | date: "MM/dd/yyyy" }}
                                            } @else {
                                                <em>Pending</em>
                                            }
                                        </div>
                                    </div>
                                    @if (isCurrentUserAnAccountHolder || isCurrentUserGeographyManager) {
                                        <div class="card-footer">
                                            <div>
                                                <icon icon="Users"></icon>
                                                <a (click)="updateUserWaterAccountRoleModal(user)">Update Role</a>
                                            </div>
                                            @if (user.User.RoleID == RoleEnum.PendingLogin) {
                                                <div>
                                                    <icon icon="Resend"></icon>
                                                    <a (click)="resendUserInviteConfirmation(user)">Resend Email</a>
                                                </div>
                                            }
                                            <div>
                                                <icon icon="Delete" class="remove-user-icon"></icon>
                                                <a (click)="removeUserFromWaterAcountComfirmation(user)">Remove User</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    } @else {
        <div [loadingSpinner]="{ isLoading: true }" style="margin-top: 10rem"></div>
    }
}
